*{
        box-sizing: border-box;
}

.entrar{
        border: black solid 1px;
        width: 20vw;
        height: 10vh;
        font-size: calc(1vw + 1vh);
}

.container_entrar{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}